<section class="footer">
    <div class="footer__content">
    <div class="title">Building Something Cool?</div>
    <div class="copy">
        <div class="email-copy">Drop us an email on hello&#64;visualizethatapp.tech</div>
        <div class="text-breaker">OR</div>
        <span>Find us on social media:</span>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/#" class="fa fa-linkedin"></a>
            <a href="https://www.x.com/#" class="fa fa-twitter"></a>
        </div>
    </div>
    </div>
    </section>
    <!-- Twitter plus x -->
    