<div class="features">
  <div class="heading">Designing my App</div>
  <div class="feature-items">
    <div class="feature">
      <i class="fa fa-check" aria-hidden="true"></i> Mobile App UI/UX Design
    </div>
    <div class="feature">
      <i class="fa fa-check" aria-hidden="true"></i> Interactive Prototypes and Animations
    </div>
    <div class="feature">
      <i class="fa fa-check" aria-hidden="true"></i> User Research & Persona Development
    </div>
    <div class="feature">
      <i class="fa fa-check" aria-hidden="true"></i> UI/UX Audit & Consultation
    </div>
  </div>
</div>
