<section class="pricing">
  <div class="heading">Pricing Plans</div>
  <div class="pricing__content">
    <div class="pricing-cards">
      <div class="pricing-card">
        <div class="card-image"><img src="assets/images/card-img.png"></div>
        <div class="card-title">
          App Idea Design Starter
        </div>
        <hr>
        <div class="card-price">
          R 25K
        </div>
        <ul>
          <li>UI Design of select features.</li>
          <li>Ideal for founders that want to present their idea to investors.</li>
          <li>Basic Microinteractions & UI Animations.</li>
          <li>Mobile App Landing Page Design.</li>
          <li>2 weeks</li>
        </ul>
      </div>

      <div class="pricing-card">
        <div class="card-image"><img src="assets/images/card-img.png"></div>
        <div class="card-title">
          App Idea Design Growth
        </div>
        <hr>
        <div class="card-price">
          R 45K
        </div>
        <ul>
          <li>App UI design</li>
          <li>Ideal for Basic Apps looking for full design.</li>
          <li>Microinteractions & UI Animations</li>
          <li>UI Kit</li>
          <li>Define App features</li>
          <li>High-Fidelity prototypes</li>
          <li>Design iterations and improvements</li>
          <li>App Landing Page Design</li>
          <li>4 weeks</li>
        </ul>
      </div>

      <div class="pricing-card">
        <div class="card-image"><img src="assets/images/card-img.png"></div>
        <div class="card-title">
          App Idea Design Complete
        </div>
        <hr>
        <div class="card-price">
          R 75K
        </div>
        <ul>
          <li>UX strategy</li>
          <li>App UI Design</li>
          <li>Ideal for Big Apps</li>
          <li>Analysis</li>
          <li>Microinteractions & UI Animations</li>
          <li>UI Kit</li>
          <li>Define App features</li>
          <li>High-Fidelity prototypes</li>
          <li>Design iterations and improvements</li>
          <li>App Landing Page Design</li>
          <li>6-8 weeks</li>
        </ul>
      </div>

    </div>
  </div>
</section>
