<section class="home-banner">
    <!-- <app-nav></app-nav> -->
    <div class = "home-banner__content">
        <div class="banner-copy">
            <h1>App Idea Design for Startups and Founders.</h1>
            <h3>Get Ready to Visualize That App Idea!</h3>
            <p>We assist startups and founders in bringing their app concepts to life. We transform your vision into a well-crafted design, we ensure your idea stands out.
            </p>
            <span class="button">
                <button class="view-button">Why Should I Design My App?</button>
            </span>
        </div>
        <div class="banner-image">
            <img src="assets/images/visualize-logo.png" alt="banner image">
            </div>
        </div>
</section>

