.navigation {

    .desktopMenu {
       display: none;

        @media(min-width: 1025px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            padding: 0.8em 8em;
            align-self: center;

            .nav-logo img {
                width: 7vh;
                justify-content: space-around;
            }
    
            .nav-items {
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-content: center;
            color: white;
            font-family: "Signika Negative", sans-serif;
            font-weight: 500;
            font-size: 1.1em;
        }

        .nav-items a {
            color: white;
            text-decoration: none;
        }

        .nav-items a:hover {
            color: black;
        }

         button {
            border: none;
            background: none;
            color: white;
            font-family: "Rajdhani", sans-serif;
            font-weight: 600;
            font-size: 1em;
            cursor: pointer;
        }

        button:hover {
            color: black;
        }

        
    }

    }

    .mobile-menu {
        position: absolute;
        z-index: 7;
        display: flex;
        flex-direction: row;
        
        @media(min-width: 1025px) {
            display: none;
        }

    }
}