.faqs {

    @media(min-width:768px) {
      padding: 6em 2em;
    }
  
    .heading {
      padding: 1em;
      font-family: "Signika Negative", sans-serif;
      font-weight: 600;
      font-size: 1.2em;
  
      @media(min-width:768px) {
        padding: 0.5em 2.3em;
      }
    }
  
    .questions {
      padding: 1em;
  
      .question {
        margin: 1.5em 1em;
        
  
        .question-title {
          font-size: 16px;
          font-family: "Lilita One", sans-serif;
          font-weight: 400;
          font-style: normal;
          padding-left: 0.7em;
  
          @media(min-width: 768px) {
            font-size: 16px;
          }
        }
  
        p {
          line-height: 1.5;
        }
      }

      mat-expansion-panel {
        padding: 0.5em;
      }
  
    }
  
  
  }
  