<section class="faqs">
    <div class="heading">FAQs</div>
    <div class="questions">
      <div class="question">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help_outline</mat-icon>
              <span class="question-title"> Why should I design my app before developing it?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Designing your app prior to its development guarantees a streamlined and effective process that meets the needs of
            your users and business objectives.
            By planning ahead, you can save valuable time and resources, ultimately resulting in a more successful and
            user-centric product.
          </p>
        </mat-expansion-panel>
      </div>
      <div class="question">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help_outline</mat-icon>
              <span class="question-title"> How much does it cost to design an App?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>The cost of designing an App is determined by the features and complexity of your app idea. Our app design services are
            priced from R35k.</p>
        </mat-expansion-panel>
      </div>
      <div class="question">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help_outline</mat-icon>
              <span class="question-title"> How long does it take to design an App?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>It can take anywhere from 3 weeks to 10 weeks. Timelines depend on the complexity
            of the app idea.</p>
        </mat-expansion-panel>
      </div>
      <div class="question">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>help_outline</mat-icon>
              <span class="question-title"> What is the difference between UI design and UX design?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>UI (User Interface) design is concerned with the visual and interactive elements of a product while UX(User Experience) design is focused on the overall experience of the user as they interact with the product.
          </p>
        </mat-expansion-panel>
      </div>
    </div>
  </section>
  